
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* === HEADER Y NAVBAR GLOBAL === */
header {
  background-color: #ff9900;
  color: white;
  padding: 15px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #ff9900;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #cc7a00;
  border-radius: 8px;
}


.card-producto {
  max-width: 500px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
}
.card-producto img {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 15px;
}
.btn-agregar {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.btn-agregar:hover {
  background-color: #45a049;
}
.extra-info, .opiniones {
  margin-top: 20px;
  text-align: left;
}